# This file is used to store the public environment variables for the staging environment.

# Staging environment variable
env = "staging"

domain_name    = "appName.com"
subdomain_name = "stagingapi.appName.com"

# VPC settings
vpc_cidr = "10.1.0.0/16"

# Compute instance settings
ami_id                      = "ami-0c5f78ca5e1169a1a"
instance_type               = "t3.medium"
ebs_optimized               = true
associate_public_ip_address = false
encrypted_root_block_device = true
volume_size                 = 16
volume_type                 = "gp3"

# GitHub OIDC settings
github_org                = "githubAccount"
github_repo               = "appName"
github_actions_policy_arn = "arn:aws:iam::aws:policy/AdministratorAccess" # TODO: tighten to a more restrictive policy

# IAM EC2 SSM settings
ec2_ssm_managed_policy_arn = "arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore"

# S3 Bucket settings
s3_bucket_name = "appName-staging-terraform-state"
